body{
    background-color: #e3f2ff;
 
 }
 
 form{
     background-color: white;
     width: 380px;
     padding: 2rem;
     margin: 100px auto 20px;
     border: 0.5px solid #b0d8f0;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     gap: 1rem;
 
 }
 
 input{
     border: 1px solid  #b0d8f0;
     border-radius: 6px;
     padding: 10px 12px;
     font-size: 14px;
     color: #546e7a;
     background: #f7fbff;
 }
 
 input:focus{
     border-color: #72c2ff;
 }
 
 button{
     background-color: white;
     color: #72c2ff;
     border-radius: 4px;
     padding: 10px;
     font-size: 15px;
     transition: 0.5s ease;
 }
 
 button:hover{
     transform: scale(1.05);
     color: #5f878c;
 
 }
 
 a{
     background-color: white;
     color: #72c2ff;
     border: 1px solid;
     border-radius: 4px;
     padding: 10px;
     font-size: 15px;
     transition: 0.5s ease;
     margin-top: 30px;
 }
 
 a:hover{
     transform: scale(1.05);
     color: #5f878c;
 }